@import url("style_portfolio_photos.css");
@import url("style_portfolio_videos.css");
@import url("style_portfolio_design.css");
@import url("style_portfolio_dev_web.css");
@import url("style_portfolio_nav.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  overflow-x: hidden;
  background-image: url("../medias/photos/bg.jpg");
  width: 100%;
  color: #fff;
}

.content{
  padding: 10%;
}

header > .main_title > h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  font-family: lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  z-index: 10;
}

.main_header {
  position: relative;
  overflow: hidden;
  width: 100vw; /* La largeur de l'écran en unités de "vw" */
  height: calc(
    56.25vw
  ); /* La hauteur est calculée à 56.25% de la largeur de l'écran */
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo {
  fill: white;
  width: 28%;
}

.scroll_down {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 2s linear infinite alternate;
  margin: auto;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main_title h1 {
  font-size: 50px;
  color: #fff;
  font-family: lato, sans-serif;
  margin: 0;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
    margin: 5%;
  }
  .main_title h1 {
    font-size: 10px;
  }
}

.text_about {
  margin-right: 5%;
  font-size: 18px;
}

h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.img_about {
  width: 100%;
  height: auto;
}

.work > .works > .works-item > p {
  font-size: 30px;
}

.work {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.works {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

.works-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  padding-top: 3.5%;
}





.works-item:hover {
    transform: scale(1.1); /* Zoom l'ensemble de l'élément lorsqu'on survole */
}

.works-item:hover p {
    opacity: 1; /* Rend le texte visible lorsqu'on survole l'élément */
}

.works-item::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 10px; /* Ajuste le rayon de la bordure en fonction de tes préférences */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.works-item:hover::before {
    opacity: 1; /* Rend la bordure visible lorsqu'on survole l'élément */
}

a {
  color: #fff;
  text-decoration: none;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item > a {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .about {
    grid-template-columns: 1fr;
    margin: 5%;
  }
  .main_title h1 {
    font-size: 10px;
  }
  .works {
    flex-direction: column; 
  }

  .works-item {
    width: 80%; /* Largeur plus grande pour les appareils mobiles */
    margin-bottom: 10px; /* Ajouter un espace entre les éléments pour les appareils mobiles */
  }
  header > .main_title > h1 {
  font-size: 70px;
}
