@import url("style_portfolio_photos.css");
@import url("style_portfolio_videos.css");
@import url("style_portfolio_design.css");
@import url("style_portfolio_dev_web.css");
@import url("style_portfolio_nav.css");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  overflow-x: hidden;
  background-image: url("../medias/photos/bg.jpg");

  width: 100%;
  color: #fff;
}

header > .main_title > h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  font-family: lato, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  z-index: 10;
}

.main_header {
  position: relative;
  overflow: hidden;
  width: 100vw; /* La largeur de l'écran en unités de "vw" */
  height: calc(
    56.25vw
  ); /* La hauteur est calculée à 56.25% de la largeur de l'écran */
}

#bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo {
  fill: white;
  width: 28%;
}

.scroll_down {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 2s linear infinite alternate;
  margin: auto;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

.main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main_title h1 {
  font-size: 50px;
  color: #fff;
  font-family: lato, sans-serif;
  margin: 0; /* Pour supprimer la marge supérieure */
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.text_about {
  flex: 1;
  margin-right: 5%;
  font-size: 18px;
}

h3 {
  font-size: 50px;
  font-weight: bold;
}

.img_about {
  max-width: 30%;
  height: auto;
}


.about > .work > .works > .works-item > p{
  font-size: 30px;
}

.work {
width: 100%;
}

.works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 10%;
}

.works-item {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  justify-content: center;
  align-items: center;

}





a{
  color: #fff;
  text-decoration: none;
}


.contact-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item > a{
  margin-left: 20px;
}
