.two_column_element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 5%;
  width: 100%;
}

.two_column_element > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.two_column_element > .text > h2 {
  margin-bottom: 10px;
}

.two_column_element > .text > p {
  margin-top: 5%;
}

.two_column_element > .text > p > span {
  font-weight: bold;
}

.video {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .two_column_element {
    grid-template-columns: 1fr;
  }
  .two_column_element > .text > p {
    margin-top: 0%;
  }
}

.one_column_element {
  display: flex;
  flex-direction: column;
  width: 100%;
}
one_column_element > img {
  ratio: 16/9;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card_prog {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

.card_prog > img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  margin: 0 auto;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.card_prog > img:hover {
  filter: none;
}

.card_prog > div > h3 {
  font-size: 2.5em;
  
}

.card_prog > div > p {
  font-size: 1.7em;
}

.two_column_element > div > h3 {
  margin-bottom: 5%;
}

.two_column_element a {
  text-decoration: underline;
  color: black;
}


@media screen and (max-width: 768px) {
  .card_prog > div > h3 {
    font-size: 1.5em;
  }
  .card_prog > div > p {
    font-size: 1.2em;
  }
  .card_prog > img {
    filter: none; 
}
.two_column_element > .text > p {
  margin-top: 5%;
}
.two_column_element > img {
  width: 100%;
}

}


.three_column_element {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 5%;
  width: 100%;
  padding-top: 8%;
}

.three_column_element > .img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.three_column_element > .img > img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.three_column_element > .text > p {
  font-size: 1.25em;
  margin-top: 5%;
  padding-right: 5%;
}

.three_column_element > .text > p > span{
  font-style: italic;

}

.three_column_element > .text > .bottom{
font-size: 0.7em;
}


@media screen and (max-width: 768px) {
  .three_column_element {
    grid-template-columns: 1fr;
    padding-top: 20%;
  }
  .three_column_element > .text {
    margin-inline: 5%;
  }
  .three_column_element > .text > p {
    margin-top: 2%;
    font-size: 1.5em;
    padding-right: 0%;
  }
  .three_column_element > .img > img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .two_column_element > div {
    font-size: 0.8em;
  }
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-bottom: 5%;
  width: 100%;


}

.gallery > img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}


@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    padding-top: 20%;
  }

}