header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header > a > img {
    padding-left: 1em;
    width: 20%;
}




@media screen and (min-width: 1024px) {
    header {
        padding-left: 2em;
    }
    header > a > img {
        padding-left: 0;
        width: 20%;
    }
}


.video-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 2em;
}
.bg-video-v{
  display: none;
}

header li{
    padding: 0 1em;
    font-size: 1.2em;
    font-weight: 600;
}

header a:hover{
  text-decoration: underline;
}

.video-container .scroll_arrow{
  position: absolute;
  top: 85%;
  left: 48%;
  transform: translate(-50%, -50%);
  scale: 2;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); }	
  40% { -webkit-transform: translateY(-15px); }
  60% { -webkit-transform: translateY(-7.5px); }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -moz-transform: translateY(0); }
  40% { -moz-transform: translateY(-15px); }
  60% { -moz-transform: translateY(-7.5px); }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -o-transform: translateY(0); }
  40% { -o-transform: translateY(-15px); }
  60% { -o-transform: translateY(-7.5px); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-15px); }
  60% { transform: translateY(-7.5px); }
}


@media screen and (max-width: 800px){

  .video-container  .scroll_arrow{
    top: 70%;
    left: 45%;
    scale: 1;
  }
}




@media screen and (max-width: 800px){
  .bg-video-v{
  display: block;
}
.bg-video-h{
  display: none;
}
}

.neon{
  font-size:130px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #fff, 2px 0px 4px #fff, 3px 0px 4px #fff, 2px 0px 3px #fff, 2px 3px 15px #fff, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #fff,40px 0vw 200px #fff;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}


@media screen and (max-width: 800px){
  .neon{
    font-size: 60px;
  }
}