header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background: black;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header > a > img {
    padding-left: 1em;
    width: 20%;
}




@media screen and (min-width: 1024px) {
    header {
        padding-left: 2em;
    }
    header > a > img {
        padding-left: 0;
        width: 20%;
    }
}


.video-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 2em;
}
.bg-video-v{
  display: none;
}

header li{
    padding: 0 1em;
    font-size: 1.2em;
    font-weight: 600;
}

header a:hover{
  text-decoration: underline;
}



@media screen and (max-width: 800px){
  .bg-video-v{
  display: block;
}
.bg-video-h{
  display: none;
}
}




