@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

#gameBox {
    overflow: hidden; /* Cela masquera tout ce qui dépasse du gameBox */
    position: relative; /* Assurez-vous que le gameBox est positionné correctement */
}



body {
    font-family: 'Pixelify Sans', sans-serif;
}
