#gameBox {
    overflow: hidden; /* Cela masquera tout ce qui dépasse du gameBox */
    position: relative; /* Assurez-vous que le gameBox est positionné correctement */
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}